<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ol type="a">
    <li>Each meeting of the transaction of business, including the mark-up of legislation of each Standing Committee or
        Sub-Committee thereof, shall be open to the public except when the Committee or Sub-Committee, in open session
        and with a majority present, determines by roll call vote that all or part of the remainder of the meeting on
        that day shall be closed to the public, provided, however, that no person other than Members of the Committee
        and such State Assembly Staff and such Departmental Representatives as they may authorize shall be present at
        any business or mark up session which has been closed to the public. This paragraph does not apply to open Committee
        hearings which are provided for by Sub-paragraph (3) (b) of this Rule, or to any meeting that relates solely to
        internal budget or personnel matter.</li>
    <li>Each hearing conducted by each Committee or Sub-Committee thereof shall be open to the public except when the  Committee or  Sub-Committee,
        in open session and with a  majority present, determines by recall vote that all or part of the remainder of that
        hearing on that day shall be closed to the public because disclosure of testimony, evidence, or other matters to be
        considered would endanger the State Security or would violate any Law or Rule of the House.  Notwithstanding, the
        requirements of the proceeding sentence, a majority of those present there being in attendance the requisite number
        required under the Rules of the Committee to be present for the purpose of taking testimony:
        <ol type="i">
            <li>May vote to close the hearing for the sole purpose of discussing whether testimony or evidence to be received
                would endanger the State or National Security or violate Clause (i) of Rule 60 or;</li>
            <li>May vote to close the hearing as provided for in Clause (i) of Rule 60.  No Member may be excluded from
                non-participatory attendance at any hearing of any Committee or Sub-Committee, unless the House shall by
                the majority vote authorize a particular Committee or Sub-Committee, for purposes of a particular subject
                of investigation to close its hearing to Members by the same procedure designated in his sub-paragraph for
                closing hearings to the public; provided, however, that the Committee or Sub-Committee may, by the same
                procedure vote to close one subsequent day of hearing.</li>
            <li>Each Committee of the House (except the Committee on  Rules and Business), shall make a public announcement
                of the date, place and subject matter of any Committee hearing at least one week before the commencement of
                the hearing. If the Committee determines that there is good cause to begin the hearing sooner, it shall make
                the announcement at the earliest possible date. Any announcement made under this subparagraph shall be promptly
                published in the State Assembly Journal.</li>
        </ol>
    </li>
</ol>

</body>
</html>