[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
django-heroku = "*"
django-bootstrap-modal-forms = "*"
psycopg2 = "*"
pillow = "*"
dj-database-url = "*"
django-environ = "*"
boto3 = "*"
django-storages = "*"
python-decouple = "*"
django-decouple = "*"
django-pwa = "*"

[dev-packages]

[requires]
python_version = "3.10"
