[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
django-heroku = "*"
django-bootstrap-modal-forms = "*"
pillow = "*"
dj-database-url = "*"
django-environ = "*"
boto3 = "==1.21.21"
django-storages = "*"
python-decouple = "*"
django-decouple = "*"
django-pwa = "*"
botocore = "==1.24.21"
django = "*"
django-sendgrid = "*"
django-admin-rangefilter = "*"
django-mathfilters = "*"
psycopg = {extras = ["pool"], version = "*"}
jmespath = "==1.0.0"

[dev-packages]

[requires]
python_version = "3.10"
