{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-center mt-4 mb-4">
    <h2 class="text-muted">Edit Profile</h2>
</div>
 <div class="fadeIn first text-center mb-3 mt-3">
        <img src="{% static 'assets/img/Coat_of_arms_of_Nigeria.svg' %}" alt="" class="img-fluid" width="150px">
    </div>
<div class="col-md-6 offset-md-3 mb-4">
    <form action="{% url 'edit_profile' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-info mb-3">Update</button>
        <p><a href="{% url 'change_password' %}">Click Here</a> to change your password </p>
    </form>
</div>
{% endblock content %}